    $color1:#b98d72;
    $color2:#c0c0c0;
    $color4:#ffffff;
    $color5:#000000;
    $color6:#a8a9ad;
    $bg_color: rgba(0, 0, 0, 0.95);
    $gradient1:linear-gradient(90deg, #b98d72 30%,#d7c797 60%, #dec79b 90%);
    $gradient2:linear-gradient(90deg, #d7c797 20%,#dec79b 40%, #b98d72 60%);

@font-face{
    font-family: 'Signika', sans-serif;
    src: url("../assets/fonts/signika/Signika-Regular.ttf") format("truetype");
}
*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Signika', sans-serif;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 40px;
    text-align: center;
}

/*  BASIC  */

i{  
    color:$color4;
}
p{
    font-size: 18px;
}
h1{
    font-size: 52px;
    
}
h2{
    font-size: 32px;
    padding:40px 0px 40px 0px;
    margin:1px;
    text-shadow: 0px 0px 3px $color1;

}
h3{
    font-size: 24px;
}
h4{
    font-size:16px;
    color: $color4;
}

ul{
    list-style-type: none;
}
li{
    padding:10px;
}
a{
    text-decoration: none;
    color:$color4;
    font-size:20px;
    &:hover {
        color: $color1;
    }
}

.flexRow{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flexCol{
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.rgb {
    text-transform: uppercase;
    color:$color1;
    animation:rgb_animation 3s linear infinite;
    background: $gradient1;
}

/* MIXIN */

/*@mixin flex($direction, $justify, $wrap, $align){
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    flex-wrap:$wrap;
    align-items: $align;
}*/

@mixin shadow_one {
    box-shadow: 0px 8px 8px $color6;
}
@mixin shadow_two($color){
    box-shadow: 0px 0px 8px 1px $color;
}
@mixin a90{
    margin:0 auto;
    width:90%;
}
@mixin table-one{
    width: 100%;
    outline:none;
    padding:10px;
    background: transparent;
    font-size: 16px;
    border:1px solid transparent;
    &:focus {
        @include shadow_two($color1);
        border: 1px solid $color1;
    }
}
@mixin table-two{
    color:$color1;
    &:hover{
        cursor:pointer;
        color: $color5;
        background-color: $color1;
        @include shadow_two($color1);
    }    
}
@mixin gradient1{
    background: $gradient1;
    -webkit-background-clip:text;
    -ms-background-clip:text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
}
@mixin gradient2{
    background: $gradient2;
    -webkit-background-clip:text;
    -ms-background-clip:text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
}
/*ANIMATION*/


@keyframes typing_animation {
    from { width: 0%; }
    to { width: 100%; }
}
@keyframes arrow_animation {
    from{bottom:1%;}
    to{bottom:1.2%;}
}
@keyframes pulse_animation {
    10%{box-shadow:0px 0px 16px 0px  $color1;}
    50%{box-shadow:0px 0px 26px 0px  $color4;}
    90%{box-shadow:0px 0px 16px 0px  $color1;}
}
@keyframes rgb_animation {
    0%{@include gradient1;}
    100%{@include gradient2;}
}

/* HEADER */

header{
    height:100vh;
    z-index: 5;
    position: relative;
    background: {
        image: url("../img/slider4.jpg");
        position: center;
        repeat: no-repeat;
        size: cover;
    }
    @include shadow_one;
    #top {
        background-color: $bg_color;
        border-bottom:1px solid $color1;
        width:100%;
        position:fixed;
        z-index: 6;
        padding:5px 25px;
        align-items: center;
        nav ul {
            justify-content: space-between;
            li {
                padding:0px 20px;
            }
        }
        p{
            font-weight: 100;
            color:$color4;
            font-size:40px;
            span {
                font-weight: 800;
                font-size:40px;

            }
        }  
        #hiddenNav{
            display:none;
            i{
                font-size: 40px;
                color:$color1;
            }
            #showNav {
                position:absolute;
                right:0px;
                top:50px;
                width:100%;
                display:none;
                z-index:-5;
                ul{
                    background-color: $color5;
                    transition: 0.6s ease;
                }
            }
            #fakeNav {
                display:none;
                &:checked {
                    ~ #showNav {
                        display:block;
                    }
                    ~ label i{
                        transform: rotateZ(90deg);
                        transition: 0.6s ease-in-out;
                    }
                }
            }
            label {
                cursor: pointer;
                
            }
        }
    }
    #welcome {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        color:$color4;
        &Note {
            position:absolute;
            bottom:4%;
            right:4%;
            h1, h3, p {
                text-align: left;
            }
            h1{
                text-transform: uppercase;
                overflow: hidden;
                white-space: nowrap;
                animation: typing_animation 2s steps(20);
            }
        }
    }
}     

/*PROJECTS*/

#projects {
    #projectsList {
        @include a90;
        .projectsItem {
            width:23%;
            a img {
                width: 100%;
                border-radius: 5px;
                opacity:0.8;
                &:hover {
                    transform: scale(1.1);
                    transition: 1.2s;
                    opacity:1;
                }
            }
            h3 {
                margin: 25px 0px 5px 0px;
                text-shadow:0px 0px 2px $color1;
            }
            p {
                margin-bottom: 50px;
                & span{
                    text-transform: uppercase;
                }
            }    
            
        }     
    }
}

/*SKILLSET*/

#skillset{
    @include shadow_one;
    background-color: $bg_color;
    h2{
        color: $color4;
    }
    &List{
        position:relative;
        padding:30px 0px;
        #skillsetHolder{
            @include a90;
            position:relative;
            justify-content: space-around;
        }    
    }
}
/*CARD*/

.card{
    width:15%;
    height:320px;
    perspective: 1000px;
    &:hover .card-inner{
        transform: rotateY(180deg);
    }
    .card-inner{
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 1.2s;
        transform-style: preserve-3d;
        -moz-backface-visibility: hidden; /**hmm zasto u mozilli radi kontra :) **/
        .skill-front, .skill-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            /*-moz-backface-visibility: hidden;*/
            
        }
        .skill-front{
            i{
                font-size: 600%;
                color:$color1;
            }
            .pulse {
                margin-top:20px;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                @include shadow_two($color4);
                border:1px solid $color1;
                animation:pulse_animation 4.2s linear infinite;
                span{
                    font-size: 40px;
                    color:$color4;
                    line-height: 1.5;
                }
            }
            
            p{
                font-size: 18px;
                color: $color4;
                margin: 15px auto;
                span{
                    font-size: 50px;
                }
            }
            .oo100{
                display: block;
                margin:10px auto;
                font-size:18px;
                color: $color4;
                border-bottom: 3px solid $color1;
                width:100px;
                border-radius:20%;
            }
        }
        .skill-back{
            transform: rotateY(180deg);
            color:$color4;
            border-radius:5px;
            padding:5px;
            h4{
                text-transform: uppercase;
            }
            i{
                font-size: 30px;
                padding:20px 0px;
                color:$color1;  
            }
            p{
                font-size: 16px;
                span{
                    text-transform: uppercase;
                }
            }
        }
    }
}

/*ABOUT*/

#about{
    @include shadow_one;
    &Me{
        align-items: center;
        @include a90;
        &Pro{
            width:33%;
            img{
                display:block;
                @include a90;
            }
        }
        p{
            width:67%;
            padding: 5px;
            text-align: justify;
            span{
                text-shadow: 0px 0px 3px $color1;
                color:$color5;
                text-transform: uppercase;
            }
        }
    }
    #education{
        background-color: $bg_color;
        color:$color4;
        h3{
            color:$color4;
            padding:20px 0px;
        }
        h4{
            padding:20px 0px;
            color:$color1;
        }
        #eduHolder{
            @include a90;
            
            .edu{
                width:45%;
                padding:20px 0px;
                img{
                    width:60px;
                    border-top: 3px solid $color1;
                    border-radius:10px;
                    padding-top:10px;
                }
                p{
                    border-bottom:1px solid $color1;
                    padding-bottom:10px;
                    border-radius:10px;
                }
            }
        }    
    }
}

/*INFORMATION*/

#information{
    #infoHolder{
        position:relative;
        #social{
            position:absolute;
            left:0;
            bottom:350px;
            width:0px;
            height:0px;
            z-index: 2;
            ul li {
                width:44px;
                height:44px;
                background-color: $bg_color;
                border-top:1px solid $color4;
                i{
                    font-size: 24px;
                    color: $color1;
                }
                &:hover{
                    width:60px;
                    transition: 1.2s;
                }
            }    
        }
            
    }    
}

/*CONTACT*/

#contact{
    background-image: url(../img/code5.png);
    background-size: cover;
    background-attachment: fixed;
    p{
        @include a90;
    }
    #contactHolder {
        position:relative;
        width:100%;
        i{
            font-size: 9px;
            position:absolute;  
            top:15px;
            right:50%;
            z-index: 2;
            color:$color1;
            text-shadow: 0px 0px 8px $color4;
            border-radius: 50%;
            animation:pulse_animation 2.2s linear infinite;
        }
        #forma{
            position:relative;
            margin:80px auto;
            width:840px;
            img{
                width:820px;
                height:500px;
            }
            form{
                position: absolute;
                top:50px;
                left:121px;
                table {
                    width: 580px;
                    border-spacing: 5px;
                    ::placeholder{
                        padding:0px 5px;
                        color:$color1;
                    }
                    textarea{
                        height: 140px;
                        resize: none;
                        @include table-one;
                    }
                    input {
                        height: 40px;
                        @include table-one;
                    }
                    #submit{
                        @include table-two;
                    }
                    #name, #email, #message {
                        color:$color1;
                    }
                }
            }
        }

    }.fa-chevron-circle-up{
        position:fixed;
        bottom:1%;
        right:1%;
        font-size:40px;
        color: $color1;
        border-radius: 50%;
        z-index:3;
        animation:arrow_animation .4s infinite alternate;
        &:hover{
            @include shadow_two($color1);
            animation-play-state: paused;
        }
    }
}
 
/*FOOTER*/

footer{
    background-color:$bg_color;
    #footerLinks{   
        ul{ 
            li {
                padding:5px;
                a{
                    font-size: 18px;
                    span{
                        text-transform: uppercase;
                    }
                }
            }
        } 
    }           
    p{
        color:$color1;
        padding:30px 0px 10px 0px;
    }   
}

/*RESPONSIVE*/

@media screen and (max-width:1280px){
    #projects{
        #projectsList{
            justify-content: space-around;
            .projectsItem{
                width:43%;
            }    
        }
    }
    #skillsetList{
        .card {
            width:32%;
        }    
    }
    
}
@media screen and (max-width:920px){
    header{
        #top{
            #logo{
                p, span{
                    font-size: 32px;
                }
            }  
            nav{
                display:none;
            }
            #hiddenNav {
                display:block;
                top:40px;
                i{
                    font-size:30px;
                }
            }  
        }
    }
    #aboutMe{
        flex-direction: column;
        padding-bottom: 20px;
        &Pro{
            width:50%;
            border-bottom: 1px solid $color1;
        }
        p{
            width:100%;
            padding-top:20px;
            text-align: center;
        }
    }
    #contact{
        #contactHolder{
            .fa-circle{
                display:none;
            }
            #forma{
                width:85%;
                img{
                    display:none;
                }
                form{
                    width:100%;
                    position:relative;
                    top:0;
                    left:0;
                    table{
                        @include a90;
                        input, textarea, #submit {
                            border:1px solid $color5;
                            @include shadow_two($bg_color);
                        }
                        #name, #email, #message{
                            color:$color5;
                            &:focus{
                                @include shadow_two($bg_color);
                            }
                        }
                        #submit:hover{
                            background-color: $bg_color;
                            color:$color1;
                        }
                    }
                    
                }
            }
        }
    }
    #information{
        background-color: $bg_color;
        height:80px;
        #infoHolder{
            #social{
                top:40px;
                width:100%;
                ul{
                    display: inline-flex;
                    flex-direction: row;
                    justify-content: space-around;
                    li{
                        border-top: none;
                        background-color: transparent;
                        border-radius:50%;
                        &:hover{
                            width:44px;
                            @include shadow_two($color1);
                        }
                    }
                    
                }
            
            }

        }    
    }
}
@media screen and (max-width:780px){
    h1{
        font-size: 42px;
    }
    
    #projects{
        #projectsList{
            .projectsItem{
                width:80%;
            }
        }
    }  
    #skillsetList{
        #skillsetHolder{
            justify-content: space-around;
            .card {
                width:45%;
            }
        }    
    }
    
}
@media screen and (max-width:520px){
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 28px;
    }
    
    p, input, textarea{
        font-size: 16px;
    }
    #projects{
        #projectsList{
            .projectsItem{
                width:87%;
            } 
        }    
    }
    #skillset{ 
        #skillsetList{ 
            #skillsetHolder{ 
                .card{
                    .skill-front{
                        i{
                            font-size: 100px;
                        }
                    }
                    .skill-back{
                        i{
                            font-size: 26px;
                        }
                        p{
                            font-size:14px;
                        }
                    }
                }
            }
        }  
    }
    #contact .fa-chevron-circle-up{
        font-size: 30px;
    } 
}

