    
    $color2:#c0c0c0;
    $color3:#252525;
    $color4:#ffffff;
    $color5:#000000;
    $color6:#a8a9ad;
    $bg_color: rgba(0, 0, 0, 0.95);
    $twitterBlue:#1da1f2;
    $facebookBlue:#3b5998;
    $whatsappGreen:#25d366;
    $html:#E44D26;
    $css:#264de4;
    $bootstrap:#602C50;
    $sass:#CD6799;
    $php:#787CB5;
    $java:#f89820;
    $viber:#8f5db7;
    $youtube:#FF0000;

@font-face{
    font-family: 'Signika', sans-serif;
    src: url("../assets/fonts/signika/Signika-Regular.ttf") format("truetype");
}
*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Signika', sans-serif;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 40px;
    text-align: center;
}

/*  BASIC  */

i{  
    color:$color4;
}
p{
    font-size: 18px;
}
h1{
    font-size: 52px;
    
}
h2{
    font-size: 32px;
    padding:40px 0px 40px 0px;

}
h3{
    font-size: 24px;
}
h4{
    font-size:16px;
    color: $color4;
}

ul{
    list-style-type: none;
}
li{
    padding:10px;
}
a{
    text-decoration: none;
    color:$color4;
    font-size:20px;
}

.flexRow{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flexCol{
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.rgb{
    text-transform: uppercase;
    animation: {
        name:rgb_animation;
        duration: 21s;
        iteration-count:infinite;
    }
}

/* MIXIN */

/*@mixin flex($direction, $justify, $wrap, $align){
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    flex-wrap:$wrap;
    align-items: $align;
}*/
@mixin rgb{
    animation: {
        name:rgb_animation;
        duration: 21s;
        iteration-count:infinite;
    }
}

@mixin shadow_one {
    box-shadow: 0px 8px 8px $color6;
}
@mixin a90{
    margin:0 auto;
    width:90%;
}
@mixin table-one{
    width: 100%;
    outline:none;
    padding:10px;
    background: transparent;
    font-size: 16px;
    border:none;
    &:focus {
        box-shadow: 0px 0px 8px 1px $color4;
        border: 1px solid $color4;
    }
}
@mixin table-two{
    color:rgb(169, 169, 169);
    &:hover{
        cursor:pointer;
        color: $color3;
        background-color: $color4;
    }    

}

/*ANIMATION*/

@keyframes  html_animation {
    50%{color: $html;}
}
@keyframes css_animation {
    50%{color: $css;}
    }
@keyframes bootstrap_animation {
    50%{color: $bootstrap;}
}
@keyframes sass_animation {
    50%{color: $sass;}
}
@keyframes php_animation {
    50%{color: $php;}
}
@keyframes java_animation {
    50%{color: $java;}
}

@keyframes rgb_animation {
    20%{color:$html;}
    35%{color:$twitterBlue;}
    50%{color:$sass;}
    65%{color:$java;}
    80%{color:$bootstrap;}
    95%{color:$php;}
}
@keyframes rgb_border-bottom {
    0%{border-bottom:1px solid $color4;}
    20%{border-bottom:1px solid $html;}
    35%{border-bottom:1px solid $twitterBlue;}
    50%{border-bottom:1px solid $sass;}
    65%{border-bottom:1px solid $java;}
    80%{border-bottom:1px solid $bootstrap;}
    95%{border-bottom:1px solid $php;}
    100%{border-bottom:1px solid $color4;}
}

@keyframes typing_animation {
    from { width: 0% }
    to { width: 100% }
}
@keyframes arrow_animation {
    from{bottom:1%;}
    to{bottom:1.2%;}
}

/* HEADER */

header{
    height:100vh;
    z-index: 5;
    position: relative;
    background: {
        image: url("../img/slider4.jpg");
        position: center;
        repeat: no-repeat;
        size: cover;
    }
    @include shadow_one;
    #top {
        background-color: $bg_color;
        animation: rgb_border-bottom 21s infinite;
        width:100%;
        position:fixed;
        z-index: 6;
        padding:5px 25px;
        align-items: center;
        nav ul {
            justify-content: space-between;
            li {
                padding:0px 20px;
                a {
                    &:hover {
                        color:$color6;
                    }     
                }
            }
        }
        p, span{
            font-weight: 100;
            color:$color4;
            font-size:40px;
            span {
                font-weight: 800; 
            }
        }  
        #hiddenNav{
            display:none;
            i{
                font-size: 40px;
                @include rgb;
            }
            #showNav {
                position:absolute;
                right:0px;
                top:50px;
                width:100%;
                display:none;
                ul{
                    background-color: $color5;
                    transition: 0.6s ease;
                    li{
                        a:hover{
                            color:$color6;
                        }
                    }
                }
            }
            #fakeNav {
                display:none;
                &:checked {
                    ~ #showNav {
                        display:block;
                    }
                    ~ label i{
                        transform: rotateZ(90deg);
                        transition: 0.6s ease-in-out;
                    }
                }
            }
            label {
                cursor: pointer;
                
            }
        }
    }
    #welcome {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        color:$color4;
        &Note {
            position:absolute;
            bottom:4%;
            right:4%;
            h1, h3, p {
                text-align: left;
            }
            h1{
                text-transform: uppercase;
                overflow: hidden;
                white-space: nowrap;
                animation: typing_animation 2s steps(20);
            }
        }
    }
}     

/*PROJECTS*/

#projects {
    #projectsList {
        @include a90;
        .projectsItem {
            width:23%;
            a img {
                width: 100%;
                border-radius: 5px;
                opacity:0.8;
                &:hover {
                    transform: scale(1.1);
                    transition: transform 1.2s;
                    opacity:1;
                }
            }
            h3 {
                margin: 25px 0px 5px 0px;
            }
            p {
                
                margin-bottom: 50px;
            }    
            
        }     
    }
}

/*SKILLSET*/

#skillset{
    @include shadow_one;
    background-color:$color5;
    opacity:0.95;
    h2{
        color: $color4;
    }
    &List{
        position:relative;
        padding:30px 0px;
        #skillsetHolder{
            @include a90;
            position:relative;
            justify-content: space-around;
        }    
    }
}
/*CARD*/

.card{
    background-color: transparent;
    width:15%;
    height:320px;
    perspective: 1000px;
    &:hover .card-inner{
        transform: rotateY(180deg);
    }
    .card-inner{
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 1.2s;
        transform-style: preserve-3d;
        .skill-front, .skill-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }
        .skill-front{
            background-color: rgba(0, 0, 0, 0.95);
            i, span{
                font-size: 600%;
                animation: {
                    duration: 24s;
                    iteration-count:infinite;
                }
                
            }
            p{
                font-size: 20px;
                color: $color4;
                border-bottom: 1px solid $color2;
                border-radius: 10%;
                width:120px;
                margin: 23px auto;
                span{
                    font-size: 50px;
                }
                
            }
            .fa-html5, .html{
                animation: {
                    name: html_animation;
                    delay: .1s;
                }    
            } 
            .fa-css3-alt, .css{
                animation: {
                    name: css_animation;
                    delay: 12.1s;
                }    
            }
            .fa-bootstrap, .bootstrap{
                animation: {
                    name: bootstrap_animation;
                    delay: .1s;
                }    
            }
            .fa-sass, .sass{
                animation: {
                    name: sass_animation;
                    delay: 12.1s;
                }    
            }
            .fa-php, .php{
                animation: {
                    name: php_animation;
                    delay: .1s;
                }    
            }
            .fa-java, .java{
                animation: {
                    name: java_animation;
                    delay: 12.1s;
                }    
            }
        }
        .skill-back{
            background-color: rgba(0, 0, 0, 0.95);
            transform: rotateY(180deg);
            color:$color4;
            border-radius:5px;
            padding:5px;
            h4{
                text-transform: uppercase;
            }
            i{
                font-size: 30px;
                padding:20px 0px;
                   
            }
            .fa-html5{
                color:$html;
            }
            .fa-css3-alt{
                color:$css;
            }
            .fa-bootstrap{
                color:$bootstrap;
            }
            .fa-sass{
                color:$sass;
            }
            .fa-php{
                color:$php;
            }
            .fa-java{
                color:$java;
            }
            p{
                font-size: 16px;
                span{
                    text-transform: uppercase;
                }
            }
        }
    }
}

/*ABOUT*/

#about{
    @include shadow_one;
    &Me{
        align-items: center;
        @include a90;
        &Pro{
            width:33%;
            img{
                display:block;
                @include a90;
            }
        }
        p{
            width:67%;
            padding: 5px;
            text-align: justify;
            span{
                @include rgb;
                text-transform: uppercase;
            }
        }
    }
    #education{
        background-color: $bg_color;
        color:$color4;
        h3, h4{
            padding:20px 0px;
        }
        #eduHolder{
            @include a90;
            .edu{
                width:45%;
                padding:20px 0px;
                img{
                    width:60px;
                }
            }
        }    
    }
}

/*INFORMATION*/

#information{
    #infoHolder{
        position:relative;
        justify-content: center;
        #social{
            position:absolute;
            left:0;
            bottom:350px;
            width:0px;
            height:0px;
            z-index: 2;
            ul li {
                width:44px;
                height:44px;
                background-color: $bg_color;
                border-top:1px solid $color4;
                i{
                    font-size: 24px;
                }
                &:hover{
                    width:60px;
                    transition: 1.2s;
                   
                }
                .fa-twitter{
                    color:$twitterBlue;
                }
                .fa-whatsapp{
                    color:$whatsappGreen;
                }
                .fa-facebook-f{
                    color:$facebookBlue;
                }
                .fa-viber{
                    color:$viber;
                }
                .fa-linkedin-in{
                    color:#0e76a8;
                }
                .fa-github{
                    color:$color2;
                }
                .fa-instagram{
                    color:#bc1888;
                }
            }    
        }
            
    }    
}

/*CONTACT*/

#contact{
    height:760px;
    p{
        @include a90;
        margin: 1px auto;
        padding-bottom:20px;
    }
    #contactHolder {
        position:relative;
        i{
            font-size: 9px;
            position:absolute;  
            top:0;
            right:50%;
            z-index: 2;
            @include rgb;
        } 
        #forma{
            position:relative;
            margin: 40px auto;
            width:800px;
            img{
                width:820px;
                height:500px;
                position:absolute;
                top:-15px;
                left:0;
            }
            form{
                width:810px;
                position: absolute;
                z-index: 1;
               
                table {
                    margin: 0px auto;
                    width: 600px;
                    padding:30px;
                    border-spacing: 5px;
                    ::placeholder{
                        padding:0px 5px;
                    }
                    textarea{
                        height: 140px;
                        resize: none;
                        @include table-one;
                    }
                    input {
                        height: 40px;
                        @include table-one;
                    }
                    #submit{
                        @include table-two;
                    }
                    #name, #email, #message {
                        color:$color4;
                    }
                }
            }
        }

    }.fa-chevron-circle-up{
        position:fixed;
        bottom:1%;
        right:1%;
        font-size:40px;
        color: $color6;
        border-radius: 50%;
        z-index:3;
        animation:arrow_animation .4s infinite alternate; 
        &:hover{
            box-shadow:0px 0px 8px 1px $color6;
            animation-play-state: paused;
        }
    }
}
 
/*FOOTER*/

footer{
    background-color:$bg_color;
    #footerLinks{   
        ul{ 
            li {
                padding:5px;
                a{
                    font-size: 18px;
                    span{
                        text-transform: uppercase;
                    }
                }
                :hover{
                    color:$color6;
                }
            }
        } 
    }           
    p{
        color:$color4;
        padding:30px 0px 10px 0px;
        @include rgb;
    }   
}

/*RESPONSIVE*/

@media screen and (max-width:1280px){
    #projects{
        #projectsList{
            justify-content: space-around;
            .projectsItem{
                width:43%;
            }    
        }
    }
    #skillsetList{
        .card {
            width:32%;
        }    
    }
    
}
@media screen and (max-width:920px){
    header{
        #top{
            #logo{
                p, span{
                    font-size: 32px;
                }
            }  
            nav{
                display:none;
            }
            #hiddenNav {
                display:block;
                top:40px;
                i{
                    font-size:30px;
                }
            }  
        }
    }
    #aboutMe{
        flex-direction: column;
        padding-bottom: 20px;
        &Pro{
            width:50%;
            border-bottom: 1px solid $color5;
        }
        p{
            width:100%;
            padding-top:20px;
            text-align: center;
        }
    }
    #contact{
        height:auto;
        #contactHolder{
            @include a90;
            .fa-circle{
                display:none;
            }
            #forma{
                width:100%;
                margin:0px auto;
                padding:40px 0px 60px 0px;
                img{
                    display:none;
                }
                form{
                    width:100%;
                    position:relative;
                    table{
                        padding:0px;
                        @include a90;
                        input, textarea, #submit {
                            border:1px solid $color5;
                            box-shadow: 0px 0px 8px 1px $bg_color;
                        }
                        #name, #email, #message{
                            color:$color5;
                            &:focus{
                                box-shadow: 0px 0px 8px 1px $bg_color;
                            }
                        }
                        #submit:hover{
                            background-color: $bg_color;
                            color:$color4;
                        }
                    }
                    
                }
            }
        }
    }
    #information{
        background-color: $bg_color;
        height:80px;
        #infoHolder{
            #social{
                top:40px;
                width:100%;
                ul{
                    display: inline-flex;
                    flex-direction: row;
                    justify-content: space-around;
                    li{
                        border-top: none;
                        background-color: transparent;
                        border-radius:50%;
                        &:hover{
                            width:44px;
                            box-shadow:0px 0px 8px 1px $color6;
                        }
                    }
                    
                }
            
            }

        }    
    }
}
@media screen and (max-width:780px){
    h1{
        font-size: 42px;
    }
    
    #projects #projectsList .projectsItem{
        width:80%;
    }
    #skillsetList{
        #skillsetHolder{
            justify-content: space-around;
            .card {
                width:45%;
                .fa-bootstrap, .bootstrap{
                    animation-delay: 12.1s;  
                }
                .fa-sass, .sass{
                    animation-delay: .1s;  
                }
            }
        }    
    }
    
}
@media screen and (max-width:520px){
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 28px;
    }
    
    p, input, textarea{
        font-size: 16px;
    }
    #projects{
        #projectsList{
            .projectsItem{
                width:87%;
            } 
        }    
    }
    #skillset{ 
        #skillsetList{ 
            #skillsetHolder{ 
                .card{
                    .skill-front{
                        i{
                            font-size: 100px;
                        }
                    }
                    .skill-back{
                        i{
                            font-size: 26px;
                            padding:6px 0px;
                        }
                        p{
                            font-size:14px;
                        }
                    }
                }
            }
        }                        
        
    }
    #contact{
        #contactHolder{
            #forma{
                width:100%;
            }
        }
        .fa-chevron-circle-up{
            font-size: 30px;
        }
    }    
}

